<h1>Restablecimiento de Contraseña</h1>
{{#if token}}
  <form action="http://localhost:3000/api/v1/auth/reset-password" method="post">
    <input type="hidden" name="token" value="{{token}}" />
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required />
    <button type="submit">Restablecer Contraseña</button>
  </form>
{{else}}
  <p>El enlace para restablecer la contraseña es inválido o ha expirado.</p>
{{/if}}
